* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  /* border:2px solid red; */
}

.shell {
  width: 80%;
  max-width: 71.875rem;
  margin: 0 auto;
  text-align: center;
}

.section {
  padding-top: 102px;
}

.sectionWrapper {
  margin-bottom: 66px;
}

.title {
  font-size: 36px;
  font-weight: normal;
}

.line {
  width: 64px;
  height: 2px;
  margin: 22px auto;
  background-color: #ff8b38;
}

.item {
  display: inline-block;
  width: 30%;
}
/* display:block; делает элемент блочным */

.m-rl-33 {
  margin: 0 33px;
}

.itemImage {
  width: 70px;
  height: 70px;
  margin: 0 auto 27px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid orange;
  border-radius: 50%;
}

.lamp {
  background-image: url(./images/1.png);
}

.keyboard {
  background-image: url(./images/2.png);
}

.lightning {
  background-image: url(./images/3.png);
}

.itemTitle {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}

.description {
  margin-bottom: 111px;
  font-size: 14px;
  color: #86878b;
}

}

.price {
  padding-top: 102px;
  background-color: #f5f5f5;
}

.priceWrap {
  margin-bottom: 81px;
}

.text {
  font-size: 14px;
  color: #86878b;
}

.list {
  width: 30%;
  margin-bottom: 111px;
  padding-left: 0;
  display: inline-block;
  list-style-type: none;
  list-style-type: padding 0;
  font-size: 14px;
  color: #86878b;
}

.m-rl-40 {
  margin: 0 40px;
}

.subject {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 1px;
  background-color: #333333;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.cost {
  padding-top: 38px;
  padding-bottom: 38px;
  margin-bottom: 1px;
  background-color: #333333;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.payments {
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 1px;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.7);
}

.rectangle {
  padding: 5px;
  margin-bottom: 1px;
  background-color: orange;
}

.mostPopular {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1px;
  background-color: orange;
  font-weight: bold;
  color: #ffffff;
}

.custom {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1px;
  background-color: #ffffff;
}

.b_Image {
  background: linear-gradient(rgba(51, 51, 51, 0.58), rgba(51, 51, 51, 0.58)),
    url(./images/4.png);
  background-size: cover;
  text-align: center;
}

.caption {
  padding-top: 54px;
  color: #ffffff;
}

.content {
  margin-bottom: 38px;
  font-size: 14px;
  color: #ffffff;
}

.btn {
  width: 134px;
  height: 42px;
  margin-bottom: 54px;
  border: 1px solid#FFFFFF;
  background: transparent;
  border-radius: 4px;
  font-size: 15px;
  color: #ffffff;
}
